<!-- <div class="row">
    <div class="col-sm-5" style="background-color:lavender;">.col-sm-4</div>
    <div class="col-sm-5" style="background-color:blue;">.col-sm-4</div>
   
  </div> -->
<!-- <div class="row">
      <div class="col-lg-2">
        <ul class="list-group list-group-flush">
            <li class="list-group-item">Cras justo odio</li>
            <li class="list-group-item">Dapibus ac facilisis in</li>
            <li class="list-group-item">Morbi leo risus</li>
            <li class="list-group-item">Porta ac consectetur ac</li>
            <li class="list-group-item">Vestibulum at eros</li>
          </ul>
      </div>
  </div> -->
<!-- <p appColorHighlighter>This Example for Custom Directive</p> -->
<div class="row">
    <div class="col-lg-2"></div>
    <div class="col-lg-8">
        <div class="table-responsive">
            <table class="table" style="border-collapse: collapse;">
                <tbody>
                    <tr>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                    routerLink="/oops">OOPS</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/chash">C#</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/dotnet">.NET</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/dotnetcore">.NET
                                    CORE</a>
                            </li>
                        </td>
                        <td>
                            <li> <a appColorHighlighter class="bar-link"
                                routerLink="/mvc">MVC</a>
                            </li>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/sqlserver">SQL SERVER</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/aj">ANGULARJS</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/angular">ANGULAR</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/adodotnet">ADO.NET</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/js">JAVA SCRIPT</a>
                            </li>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/jquery">JQUERY</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/json">JSON</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/bootstrap">BOOTSTRAP</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/css">CSS</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/linq">LINQ</a>
                            </li>
                        </td>
                    </tr>
                    <tr>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/aspdotnet">ASP.NET</a>
                            </li>
                        </td>
                        <td>
                            <li>
                                <a appColorHighlighter class="bar-link"
                                routerLink="/ef">ENTITY FRAMEWORK</a>
                            </li>
                        </td>
                    </tr>

                </tbody>
            </table>
        </div>
    </div>
    <div class="col-lg-2"></div>
</div>